@{
    ViewData["Title"] = "Home Page";
}

<table>

   <tr class="rus">
       <td>Русская</td>
   </tr>
     <tr class="eng">
       <td>Анг</td>
   </tr>
    <tr class="arm">
        <td>Арм</td>
    </tr>
</table>